html {
    font-family: 'Pacifico', cursive;
    background: black;
    
}

.forest {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.interface {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1em;
}

.enemy {
    display: flex;
    align-content: center;
    justify-content: center;
}

.playerCharImg {
    height: 5em;
}

.characterImg {
    height: 5em;
    justify-content: center;
    align-content: center;
    transform: translate(0em, 7em);
}

.enemyImg {
    height: 10em;
    justify-content: center;
    transform: translate(0em, 4.5em);
}

a {
    text-shadow: rgb(178, 196, 178) 1em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    align-items: center;
    justify-content: center;
} 

.fightHeader {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: rgb(0, 0, 0);
    text-decoration: underline rgb(92, 3, 175);
}

.p {
    text-align: center;
    color: black;
}

.actions {
    background: rgb(0, 0, 0);
    text-align: center;
}

.playerClass {
    text-align: center;
}

.findEnemyHeader {
    text-align: center;
}

.knight {
    background: tomato;
    border: .6em ridge rgb(228, 3, 3);
    width: 20%;
    margin: 5em 3em 5em 5em;
}

.priest {
    background: white;
    border: .6em ridge rgb(247, 247, 247);
    width: 20%;
    margin: 5em 3em 5em 0em;
}

.hunter {
    background: yellowgreen;
    border: .6em ridge rgb(6, 161, 45);
    width: 20%;
    margin: 5em 3em 5em 0em;
}

.wizard {
    background: skyblue;
    border: .6em ridge rgb(0, 174, 255);
    width: 20%;
    margin: 5em 3em 5em 0em;
}

.playerVitality {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}

.playerMana {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}

.playerEnergy {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}

.playerStrength {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}

.playerIntelligence {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}

.playerAgility {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}

.playerSpeed {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}

/* .arena {
    display: grid;
    grid-template-areas:
      "";
} */

.enemyType {
    text-align: center;
}

.enemyVitality {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}

.enemyMana {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}

.enemyEnergy {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}

.enemyStrength {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}

.enemyIntelligence {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}

.enemyAgility {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}

.enemySpeed {
    text-align: center;
    border: .1em solid black;
    margin: 0em;
}
